.site-layout-background {
    background: #fff;
}
.larp-size-menu .ant-menu-item{
    font-size: 16px !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

.larp-size-menu .ant-menu-item svg{
    font-size: 18px;
}